
 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: white;
    }
    header {
      background:rgb(182, 138, 43);
      color: rgb(235, 235, 237);
      padding: 2rem;
      text-align: center;
    }
    nav {
      background: rgb(157, 120, 58);
      padding: 0.5rem;
      text-align: center;
    }
    nav a {
      color: rgb(15, 14, 14);
      margin: 0 15px;
      text-decoration: none;
    }
    nav a:hover {
      text-decoration: underline;
    }
    main {
      padding: 2rem;
      text-align: center;
    }
    footer {
      
  bottom: 0;
  left: 0;
  width: 100%;
  background:rgb(182, 138, 43);
  color: black;
  text-align: center;
  padding: 1rem;
      
    }
    main {
          min-height: 100vh;
  background-image: url('image/image4.1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  
}
h1{ 
     color:rgb(245, 84, 10);
     text-align: center;

}
h3{ 
     color:whitesmoke;
     text-align: center;

}
ul { 
     color:whitesmoke;
     text-align:left;

}

 .member h3 {
      margin: 10px 0 5px;
      color: #333;
    }
    .member p {
      font-size: 14px;
      color: #555;
    }
     .team {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
      gap: 20px;
    }
    .member {
      background: rgb(239, 160, 82);
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      width: 250px;
      height: 250px;
      text-align: center;
      padding: 15px;
    }
    b {
      color: black
    }
    p {
      color: white
    }



